@use "./App.scss" as v;


#Header {
    z-index: 500;
    position: relative;
    .header {
        display: flex;
        background-color: v.$color_black_darker_1;
        height: 10vh;

        a:not(.dropdown-link) {
            transition-duration: 0.1s;
            color: v.$color_orange;

            &:hover {
                transform: translateY(-1px) scale(1.01);
            }

            svg {
                transition-duration: 0.1s;

                &:hover {
                    transform: translateY(-1px) scale(1.01);
                }
            }
        }

        .header-band-container {
           
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: v.$color_black_darker_1;
            box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.548);
            margin-left: 15vh;
            margin-bottom: -2vh;
            .nav-container {
                
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                }

                .name-container {
                    h1 {
                        font-size: 30px;
                        font-family: v.$font_theme;
                        margin: 0;
                        padding: 0px 20px;
                    }
                }

                .items-nav-container {
                    font-family: v.$font_basic;
                    display: flex;
                    text-align: center;
                    align-items: center;

                    span {
                        font-size: 29px;
                        color: v.$color_orange;
                        font-weight: bold;
                    }

                    a {
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 700;
                        color: v.$color_font_white_darker_2;
                        text-decoration: none;
                        //Choix entre taille fix et taille adapté
                        padding: 0px 10px; // Taille adaptatif
                        //min-width: 100px; // Taille fix
                    }
                }
            }

            .social-networks-container {
                color: v.$color_orange;
                margin-right: 20px;
                font-size: 22px;
                display: flex;

                a {
                    padding: 5px;
                }
            }
        }
    }
}

#Header {
    .header-mobile {
        display: flex;
        background-color: v.$color_black_darker_1;
        width: 100%;
        height: 7vh;

        .logo-container {
            position: absolute;
            height: 9vh;
            width: 9vh;
            background-color: v.$color_black_darker_2;
            border-bottom-right-radius: 24px;
            box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.548), 0px 0px 6px #e459143f;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
      

        .space-logo {
            width: 9vh;
        }

        .header-band-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 2px 20px 0px #ff6512;

            .small-logo-container {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .name-container {

                h1 {
                    @media screen and (min-width: 450px) and (max-width: 1000px) {
                        font-size: 24px;
                    }

                    font-family: v.$font_theme;
                    margin: 0;
                    padding: 0px 20px;
                }
            }

            svg {
                margin-right: 10px;
                color: v.$color_orange;

                @media screen and (min-width: 500px) {
                    font-size: 30px;
                }

                @media screen and (min-width: 330px) {
                    font-size: 23px;
                }
            }
        }
    }
}

#Header-side-nav {
    position: fixed;
    width: 80vw;
    height: 100vh;
    right: -80vw;
    top: 0;
    background-color: v.$color_black;
    border-left: solid 2px v.$color_orange;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(.68,.39,.03,.89);
    z-index: 999;
    &.opened {
        right: 0;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: solid 1px v.$color_orange;
        background-color: v.$color_black_darker_1;

        .close-button {
            color: v.$color_orange;
            margin-left: 10px;
            font-size: 36px;
            font-weight: 100;
        }

        h2 {
            padding: 0 30px 0 0;
            margin: 0;
            text-transform: uppercase;
            font-family: v.$font_theme;
            font-size: 35px;
        }
    }

    .link-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a{
            text-transform: uppercase;
            color: v.$color_font_white_darker_1;
            text-decoration: none;
            font-weight: 600;
            font-size: 25px;
            border-bottom: solid 1px v.$color_orange;
        }
        div{
            padding: 10px 5px;
            width: 100%;
            text-align: right;
            &:hover{
                background-color: v.$color_black_darker_2;
            }

        }
    }
}

#Twitch-link {
    position: absolute;
    display: block;
    font-size: 35px;
    top: 160px;
    left: 20px;
    background-color: v.$color_black_darker_2;
    z-index: 150;
    transition-duration: 0.05s;
    padding: 12px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.205);
    svg{
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.178));
        color: purple;
    }
    span{
        position: absolute;
        top: 0;
        right: 0;
        color: red;
        animation: light-out 3s infinite;
    }
}

@keyframes light-out{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}